{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <input type="text" id="serie" name="serie">
    </form>


{% endblock %}
{% block customScript %}

    <script>
        $("#serie").keyup(function () {
            var input=$("#serie").val();
            $.ajax({
                url:"{{ path('recherche_document') }}",
                type: "POST",
                data:{'serie':input},
                success : function (data){
                    console.log(data);




                }
            })

        });
    </script>
{% endblock %}