{% extends 'base.html.twig' %}

{% block body %}

    {% for matiere in matieres %}
        <div class="ffolder medium cyan">
            <span ><a href="{{ path('afficher_documents', {'id': matiere.id}) }}" style="color: #FFFFFF;text-decoration: none;"  >{{ matiere.libelle }}</a></span>
        </div>
        &nbsp;&nbsp;
    {% endfor %}
{% endblock %}