{% extends "base.html.twig" %}

{% block body %}

    <div class="panel panel-alt1">
        <div class="panel-heading">
            <span class="title">Offres de co-voiturage</span>
        </div>
        <div class="panel-body">
            <p> Offres recentes </p>
            <p>Velit numquam possimus eum delectus maiores dicta perspiciatis quae aperiam dolores facere, doloribus non, iusto, sit.</p>
        </div>
    </div>

{% endblock %}