{% extends "base.html.twig" %}
{% block pageName %}
Co-Voiturage
{% endblock %}
{% block body %}

    <div class="panel panel-alt3">
        <div class="panel-heading">
            <div class="tools"><span class="icon s7-upload" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ajouter un offre"></span></div><span class="title">Offres de Co-Voiturage</span>
        </div>

        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-alt3">
        <div class="panel-heading">
            <div class="tools"><span class="icon s7-upload" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ajouter une demande"></span></div><span class="title">Demandes de Co-Voiturage</span>
        </div>

        <div class="panel-body">
            
        </div>
    </div>

{% endblock %}