{#

{% extends '::base.html.twig' %}
{% block body %}



    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact Form HTML/CSS Template - reusable form</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('lib/theme-switcher/style.css') }}"/>

    </head>
    <body >
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Trouvez votre Colocation idéale</h1><br>
                    <p>Décrivez nous votre style de vie et vos attentes, pour cibler au mieux votre recherche.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form name="form" method="post">
                        <div class="row">
                            <div class="col-md-6">

                                #}
{#<div class="form-group">

                                    <div class="form-group">
                                        <label for="Tire">Titre</label>
                                        <div class="input-group">
                                            <input type="text" name="titre" class="form-control" id="email" placeholder="Titre" required="required" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Prix">Loyer</label>
                                        <div class="input-group">
                                            <input type="text" name="loyer" class="form-control" id="email" placeholder="DT / mois" required="required" /></div>
                                    </div>


                                    <div class="form-group">
                                         <label for="subject" name="type">Type</label>
                                           <select id="subject" name="subject" class="form-control" required="required">
                                              <option value="na" name="appartement" selected="">Appartement</option>
                                              <option value="service" name="maison">Maison</option>
                                               <option value="suggestions" name="studio">Studio</option>
                                           </select>
                                     </div>
                                    <div class="form-group">
                                        <label for="subject" name="meuble">Meublé</label>
                                        <select id="subject"  name="subject" class="form-control" required="required">
                                            <option value="na" name="meuble" selected=""> Meublé</option>
                                            <option value="service" name="nom meuble">Non </option>
                                            <option value="suggestions" name="partiellement">¨Partiellement Meublé</option>
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label for="subject">Description</label>
                                             <textarea name="desciption"  id="message" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="Parlez un peu de vous,de votre style:3-4 phrases basiques a propos de vous et de ce que vous recherchez"></textarea>
                                     </div>
                                    <div class="form-group">
                                        <label for="email"> Email Address</label>
                                        <div class="input-group">
                                           <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                           </span>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required="required" /></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="file">Photos </label>
                                        <input type="file" name="photo" class="form-control" id="name" placeholder="Enter name" required="required" />
                                        <input type="file" name="photo1" class="form-control" id="name" placeholder="Enter name" required="required" />
                                           <input type="file" name="photo2" class="form-control" id="name" placeholder="Enter name" required="required" />
                                    </div>


                                   </div>#}{#

                        </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <form>
                    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">
                            P:</abbr>
                        (123) 456-7890
                    </address>
                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </form>
            </div>
        </div>
    </div>
    <div></div>


    </body>
    </html>

{% endblock %}#}

{% extends '::base.html.twig' %}
{% block body %}
 {{ form_start(form) }}
                                {{ form_widget(form) }}
<div class="col-md-12">
    <input type="submit"  value="Publier Mon annonce" class="btn btn-primary pull-right" id="btnContactUs" >
</div>
{{ form_end(form) }}

{% endblock %}