{% extends "::base.html.twig" %}

{% block pageName %}
    <h2>Coin des objets trouvés</h2>
    <ol class="breadcrumb">
        <li>Les Objets</li>
        <li class="active">Coin des objets trouvés</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="col-md-offset-2 col-md-4">
        <div class="pricing-table pricing-table-warning">
            <div class="pricing-table-title">Réclamer Un Objet Trouvé</div>
            <div class="pricing-table-description"><i>Esprit Entr'aide Nécessite Votre Collaboration Pour Aider Les Espritiens A Trouver Leurs Objets</i></div>
            <div class="panel-divider panel-divider-xl"></div>
            <a href="{{ path('ajoutobjtrouv') }}" class="btn btn-warning">Ajouter Un Nouveau Objet Trouvé</a>
        </div>
    </div>
    <div class="col-md-4" >
        <div class="pricing-table pricing-table-success">
            <div class="pricing-table-title">Afficher Les Objets Trouvés</div>
            <div class="pricing-table-description"><i>Esprit Entr'aide Nécessite Votre Collaboration Pour Aider Les Espritiens A Trouver Leurs Objets</i></div>
            <div class="panel-divider panel-divider-xl"></div>
            <a href="{{ path('affichobjtrouv') }}" class="btn btn-success">Voir La Liste Des Objets Trouvés</a>
        </div>





















{% endblock %}