{% extends "::base.html.twig" %}

{% block title %}Coin des Objets Perdus{% endblock %}

{% block body %}

    <div class="col-md-4" align="center">
        <div class="pricing-table pricing-table-warning">
            <div class="pricing-table-title">Réclamer Un Objet Perdu</div>
            <div class="pricing-table-description">Esprit Entr'aide Nécessite Votre Collaboration Pour Aider Les Espritiens A Trouver Leurs Objets</div>
            <div class="panel-divider panel-divider-xl"></div>
            <a href="{{ path('ajoutobjperd') }}" class="btn btn-warning">Ajouter Un Nouveau Objet Perdu</a>
        </div>
    </div>
    <div class="col-md-4" >
        <div class="pricing-table pricing-table-success">
            <div class="pricing-table-title">Afficher Les Objets Perdus</div>
            <div class="pricing-table-description">Esprit Entr'aide Nécessite Votre Collaboration Pour Aider Les Espritiens A Trouver Leurs Objets</div>
            <div class="panel-divider panel-divider-xl"></div>
            <a href="{{ path('affichobjperd') }}" class="btn btn-success">Voir La Liste Des Objets Perdus</a>
        </div>

{% endblock %}