{% extends 'base.html.twig' %}


{% block body %}
    {% for niveaux in niveaux %}
        <div class="ffolder medium cyan">
            <span ><a href="{{ path('afficher_section', {'niveau': niveaux}) }}" style="color: #FFFFFF;text-decoration: none;"  >{{ niveaux }}</a></span>
        </div>
        &nbsp;&nbsp;
    {% endfor %}
{% endblock %}